<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jpdibacco.cuatroelementos" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CuatroElementos</name>
    <description>
        Cuatro Elementos.
    </description>
    <author email="jpdibacco@gmail.com" href="http://jpdibacco.com.ar">
       Juan Patricio Di Bacco
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <preference name="SplashScreenDelay" value="3000" />
</widget>
